@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
html {
  font-size: 62.5%; /* Sets default font size to 10px (1rem) */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

hr {
  border: 0;
  border-color: #d6d6d6;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  flex: 100%;
}

h2 {
  padding: 2rem 0 0 0;
  margin: 0;
}

body,
input,
button,
select,
textarea {
  font: 1.6rem 'Rubik', Arial, sans-serif;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background: rgb(47, 30, 135);
  background: linear-gradient(125deg, rgba(47, 30, 135, 1) 0%, rgba(91, 67, 214, 1) 28%, rgba(133, 67, 214, 1) 78%);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  z-index: 25;
  top: 0;
}

.brand a {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}

.header-links a:hover {
  color: #ff8000;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.footer {
  grid-area: footer;
  background: rgb(133, 67, 214);
  background: linear-gradient(305deg, rgba(133, 67, 214, 1) 0%, rgba(91, 67, 214, 1) 28%, rgba(133, 67, 214, 1) 78%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

/* Hero Section */
.hero-section {
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 10rem 0;
}

.hero-text {
  text-align: center;
  flex: 40rem;
}

.hero-picture {
  text-align: center;
}

.hero-picture img {
  max-height: 90%;
  max-width: 90%;
}

.hero-header {
  text-transform: uppercase;
}

/* Portfolio Section */
.portfolio-section {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.portfolio-header {
  color: #919191;
  flex: 100%;
  opacity: 0.7;
  margin: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.portfolio-projects-list {
  flex: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.portfolio-projects-list li {
  list-style: none;
  display: flex;
  flex: 100%;
}

.portfolio-project {
  flex: 100%;
  margin: 5rem 10rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project-image-section {
  flex: 50%;
  display: flex;
  flex-flow: row wrap;
}

.project-image-section img {
  flex: 100%;
  align-self: center;
}

.project-info-section {
  flex: 50%;
  display: flex;
  flex-flow: row wrap;
}

.project-name {
  flex: 100%;
  font-weight: 400;
  font-size: 2.2rem;
  margin: 0;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.project-stack-list {
  flex: 100%;
  display: flex;
  justify-content: flex-end;
}

.project-stack-list ul {
  padding: 0;
  display: flex;
  margin-bottom: 3rem;
  flex: 100%;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.project-stack-list ul li {
  padding: 0.5rem;
  font-weight: 200;
  color: #ffffff;
  background-color: #5b43d6;
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
  max-width: max-content;
  justify-content: center;
}

.project-description {
  text-align: left;
  line-height: 2.2rem;
  padding-top: 2rem;
  flex: 100%;
  font-weight: 300;
  white-space: pre-wrap;
}

.project-links {
  flex: 100%;
  padding: 5rem;
}

.project-links a {
  margin: 1rem;
}

.project-links a button:hover::before {
  color: #000000;
  position: absolute;
  left: 1rem;
}

.project-links a button:focus {
  outline: none;
}

.project-demo-button {
  flex: 1;
  color: #ffffff;
  background-color: #5b43d6;
  border: 0.1rem solid #ffffff;
  border-radius: 5rem;
  padding: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.project-demo-button:hover {
  background-color: #ffffff;
  color: #5b43d6;
  border: 0.1rem solid #5b43d6;
  border-radius: 0;
}

.project-code-button {
  flex: 1;
  color: #5b43d6;
  background-color: #ffffff;
  border: 0.1rem solid #5b43d6;
  border-radius: 5rem;
  padding: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.project-code-button:hover {
  background-color: #5b43d6;
  color: #ffffff;
  border: 0.1rem solid #ffffff;
  border-radius: 0;
}

.portfolio-archive-button-section {
  flex: 100%;
  margin-bottom: 5rem;
}

.portfolio-archive-button {
  flex: 1;
  color: #ffffff;
  background-color: #5b43d6;
  border: 0.1rem solid #ffffff;
  border-radius: 5rem;
  padding: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.portfolio-archive-button:hover {
  background-color: #ffffff;
  color: #5b43d6;
  border: 0.1rem solid #5b43d6;
  border-radius: 0;
}

.portfolio-archive-button:focus {
  outline: none;
}

/* About Section */
.about-section {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  background: rgb(47, 30, 135);
  background: linear-gradient(125deg, rgba(47, 30, 135, 1) 0%, rgba(91, 67, 214, 1) 28%, rgba(133, 67, 214, 1) 78%);
  padding-bottom: 20rem;
}

.about-header {
  color: #ffffff;
  flex: 100%;
  margin: 2rem;
}

.about-header h2 {
  text-transform: uppercase;
}

.about-content {
  flex: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  color: #ffffff;
}

.about-content p {
  margin: 0;
  width: 60%;
  line-height: 3rem;
  letter-spacing: 0.15rem;
}

.about-categories {
  display: flex;
  flex-flow: row wrap;
  margin: 10rem 10rem 0 10rem;
  flex: 60%;
}

.about-category {
  flex: 20%;
  border: 0.1rem solid #d6d6d6;
  background-color: #ffffff;
  margin: 2rem 2rem 10rem 2rem;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 3px 6px rgba(214, 214, 214, 0.3);
  display: flex;
  flex-flow: row wrap;
}

.about-category-header {
  text-align: center;
  flex: 100%;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #5b43d6;
  text-transform: uppercase;
}

.about-category-content {
  text-align: center;
  flex: 100%;
}

.about-category-content-item {
  line-height: 3rem;
}

.about-social-links {
  flex: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.about-social-link {
  padding: 0.3rem;
}

.about-social-link a .fa {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.about-social-link a:hover .fa {
  color: #ffffff;
  height: 5rem;
  width: 5rem;
  /* height: 50px; */
  /* width: 50px; */
}

/* Blog Section */

/* Contact Section */
.contact-section {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.contact-header {
  flex: 100%;
  text-transform: uppercase;
}

.contact-form {
  flex: auto;
  display: flex;
  justify-content: center;
}

.contact-form form {
  width: 60%;
  border: 0.1rem solid #d6d6d6;
  margin: 2rem 2rem 10rem 2rem;
  padding: 3rem;
  border-radius: 5rem;
  box-shadow: 0px 0px 3px 6px rgba(214, 214, 214, 0.3);
  display: flex;
  flex-flow: row wrap;
}

.contact-form-element.half {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 30%;
  margin: 1rem;
}

.contact-form-element label {
  flex: 0 1;
  text-transform: uppercase;
  color: #919191;
  font-weight: 400;
  letter-spacing: 0.1rem;
  align-items: center;
}

.contact-form-element input {
  flex: 1 0;
  padding: 0.5rem;
  border: none;
  height: 2.5rem;
  background-color: rgba(214, 214, 214, 0.3);
}

.contact-form-element textarea {
  flex: 1 0;
  padding: 0.5rem;
  border: none;
  background-color: rgba(214, 214, 214, 0.3);
}

.contact-form-element.half label {
  float: left;
}

.contact-form-element.half input {
  flex: 100%;
}

.contact-form-element.full {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 3rem 1rem;
  flex: 100%;
}

.contact-form-element.full label {
  flex: auto;
  text-align: left;
}

.contact-form-element.full textarea {
  flex: 100%;
  resize: vertical;
}

.contact-form-element input:focus {
  outline: none;
}

.contact-form-element {
  flex: 100%;
}

.contact-form button {
  flex: 1;
  color: #ffffff;
  background-color: #5b43d6;
  border: 0.1rem solid #ffffff;
  border-radius: 5rem;
  padding: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #ffffff;
  color: #5b43d6;
  border: 0.1rem solid #5b43d6;
  border-radius: 0;
}

.contact-form button:hover::before {
  color: #000000;
  position: absolute;
  left: 1rem;
}

.contact-form button:focus {
  outline: none;
}

/* Resume Section */
